@import "tailwindcss";

    html {
    scroll-behavior: smooth;
  }
  

body{
animation:fadePage 0.7s ease;
}

@keyframes fadePage{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes fadeIn {
  from { opacity:0 }
  to { opacity:1 }
}

@keyframes scaleIn {
  from {
    transform: scale(.8);
    opacity:0
  }
  to {
    transform: scale(1);
    opacity:1
  }
}

.animate-fadeIn {
  animation: fadeIn .3s ease forwards;
}

.animate-scaleIn {
  animation: scaleIn .3s ease forwards;
}